// You custom settings file to override Foundation defaults
@import "settings";

@import "foundation";

 

// ----------------------------------------

// Globals
body { background: url(../images/body-bg.jpg); }

h3, h4 { font-size: 24px; font-weight: 400; color: $txtColor; }

.button { display: inline-block; padding: 12px 14px; border: 1px solid #ddd; font-size: 18px; font-weight: 700; color: $mainColor;

	@include text-shadow(0px 2px 0px $white);
	@include border-radius(5px);
	@include box-shadow( rgba(204, 204, 204, 1) 0px 2px 2px);
	@include filter-gradient(#ffffff, #e5e5e5, vertical);
	$experimental-support-for-svg: true;
	@include background-image(linear-gradient(top, 
		rgba(255,255,255,1) 0%,
		rgba(229,229,229,1) 100%)
	);
	&:hover{
		color: #666;
	}
}

.page-content { max-width: 76em; margin: 0 auto; background: #fff; border: 1px solid #ddd; border-bottom: 0; @include border-radius(5px 5px 0 0); margin-top: -10px; }

.tooltip { border-top: 1px solid #7ac3ed; border-bottom: 1px solid #056ba6; font-weight: 700; @include text-shadow(0px 1px 0px #056ba6);
	
	background-color: rgb(56,166,230);
	@include filter-gradient(#38a6e6, #158dd3, vertical);
	$experimental-support-for-svg: true;
	@include background-image(linear-gradient(top,  rgba(56,166,230,1) 0%,rgba(21,141,211,1) 100%));
}
.has-tip:hover { border: none; }
.tooltip.tip-top > .nub { border-color: #056ba6 transparent transparent transparent; }

// Clearfix
.cf:after { 
	content: "";
	display: table;
	clear: both;
}

// Form elements
//input[type=radio]{ height: 15px; width: 15px; margin: 1px; -webkit-appearance: none; position: relative; top: 3px; border: 1px solid $white; 
	
//	@include border-radius(8px);
//	@include box-shadow( rgba(204, 204, 204, 1) 0px 1px 1px);
//	@include filter-gradient(#ffffff, #e5e5e5, vertical);
//	$experimental-support-for-svg: true;
//	@include background-image(linear-gradient(top, 
//		rgba(255,255,255,1) 0%,
//		rgba(229,229,229,1) 100%)
//	);
//}
//input[type=radio]:checked { 
	// background: $white $spriteURL -6px -314px no-repeat; 
//}
form.custom div.custom.dropdown.open ul,
form.custom div.custom.dropdown { 
	// -webkit-appearance: none;  padding: 5px 25px 5px 7px; 
	font-size: 14px; font-weight: 700; color: $mainColor; text-shadow: 0px 2px 0px #fff; filter: dropshadow(color=#fff, offx=0, offy=2); float:  left; border: 1px solid #ddd; height: 34px;
	// cursor: pointer; 
	
	//background: url(../images/select-bg.png) right center no-repeat;
	
	@include text-shadow(0px 2px 0px $white);
	@include border-radius(5px);
	@include box-shadow( rgba(204, 204, 204, 1) 0px 2px 2px);
	@include filter-gradient(#ffffff, #e5e5e5, vertical);
	$experimental-support-for-svg: true;
	@include background-image(linear-gradient(top, 
		rgba(255,255,255,1) 0%,
		rgba(229,229,229,1) 100%)
	);
	&:hover{
		color: #666;
	}

}
form.custom div.custom.dropdown { margin: 2px 0; }
form.custom div.custom.dropdown a.current { background: none;border: none;color: $mainColor;font-size: 1.2em;line-height: 32px;padding-left: 10px; }
form.custom div.custom.dropdown a.selector { border: 0; height: 34px; }
form.custom div.custom.dropdown.open ul { top: -3px; left: -3px; height: auto; border: 1px solid #ddd; overflow-y: hidden; padding: 2px;
	
	@include box-shadow( rgba(204, 204, 204, .5) 0px 3px 5px);
}
form.custom div.custom.dropdown ul li { border: none;color: $mainColor;font-size: 1.2em;line-height: 29px;padding-left: 10px; text-shadow: 0px 2px 0px #fff; filter: dropshadow(color=#fff, offx=0, offy=2); height: 34px;

	

}
form.custom div.custom.dropdown ul li:hover,
form.custom div.custom.dropdown ul li.selected,
form.custom div.custom.dropdown ul li.selected:hover { background: none; color: $txtColor; }
form.custom div.custom.dropdown ul li:hover,
form.custom div.custom.dropdown ul li.selected:hover { background: none !important; }

.menu { list-style: none; margin: 0 0 1em; }
.menu li { padding: 3px 0; }
.menu a { font-size: 14px; }



// Top Bar
#brand {  background: $mainColor url(../images/nav-bg.jpg) repeat-x;  border-bottom: 1px solid $white; @include box-shadow( rgba(49, 127, 157, 1) 0px -5px 8px inset ); }

.top-bar { background-color: transparent; }


// Logo
.name:hover { background-color: transparent !important; }
.name a {  display: block; width: 210px; height: 75px; text-indent: -999em; background: url(../images/logo.png) no-repeat; }


// Nav
#nav > ul { height: $topBarHeight; }
#nav > ul > li:hover { background-color: transparent;

	> a { color: $white; }
}
#nav > ul > li > a { position: relative; font-weight: 700; 

	@include text-shadow(0px 2px 2px #0e4c5d);
}
.top-bar ul > li a:not(.button) { height: 68px; }
#nav > ul > .divider { margin: 0; width: 2px; height: 88%; background: url(../images/nav-divider.jpg) center center no-repeat; @include box-shadow( none); }
#nav .active {  background: transparent url(../images/nav-active-bg.png) center center no-repeat; position: relative; }
#nav .active:after { bottom: 0; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba(255, 255, 255, 0); border-bottom-color: #ffffff; border-width: 10px; left: 50%; margin-left: -10px; }
#nav .active a { color: #fff; }
#nav .has-dropdown .darr:after { top: 45%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba(255, 255, 255, 0); border-top-color: $white; border-width: 7px; right: 10%; margin-left: -7px; }
#nav .has-dropdown > a { padding: 0; margin: 0 30px 0 10px; width: 100%; }
#nav .dropdown { top: 90%; height: auto; width: 65%; margin: 0; padding-top: 0; border: 1px solid $white;

	@include border-radius(5px);
	@include box-shadow( rgba(204, 204, 204, 1) 0px 2px 2px);
	@include filter-gradient(#ffffff, #e5e5e5, vertical);
	$experimental-support-for-svg: true;
	@include background-image(
		linear-gradient(
			top, 
			rgba(255,255,255,1) 0%,
			rgba(229,229,229,1) 100%
		)
	);
}
#nav .dropdown li { position: relative; background: transparent; padding: 0; border-bottom: 1px solid rgba(0, 0, 0, 0.1); border-top: 1px solid rgba(255, 255, 255, 0.9); 

	&:first-child { border-top-width: 0; }
	&:last-child { border-bottom-width: 0; }
}
#nav .dropdown a { background: $spriteURL no-repeat; display: block; padding: 10px 10px 10px 27px; font-size: 16px; font-weight: 700; color: $txtColor; text-shadow: 0px 1px 0px $white; filter: dropshadow(color=$white, offx=1, offy=0); 
	&:hover {
		background-color: transparent;
		color: #666;
	}
}
#menu-messages { position: relative; }
#menu-messages a { display: block; width: 24px; height: 18px; margin-top: 30px; background: url(../images/messages-icon.png) center center no-repeat; text-indent: -999em; }
.message-count { position: absolute; top: 22px; right: 6px; display: block; width: 14px; height: 14px; padding: 3px 6px 3px 4px; font-size: 10px; line-height: .8em; font-weight: 700; color: #fff; border-radius: 50%; background: red; }

#nav #menu-account:after{ bottom: 100%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba(255, 255, 255, 0); border-bottom-color: #ffffff; border-width: 7px; left: 50%; margin-left: -7px; }
#nav #menu-account a { background-position: 0 -72px; }
#nav #menu-logout a { background-position: 0 -124px; }
.profile-thumb { display: block; width: 45px; height: 45px; border: 2px solid $white; float: left; background-size: 100%;
	@include border-radius(50%);
	@include box-shadow( rgba(0, 0, 0, 0.7) 0px 1px 4px);
}
#nav .profile-thumb { margin: 12px 8px 8px; }



// Page Title
#page-title { margin: 40px 0; }
#page-title > div { padding: 0; }
#page-title h2 { margin: 0; font-weight: 400; }

#invite-link { display: block; margin-top: 15px; font-size: 16px; text-align: right; }
#invite-link a { color: $txtColor; text-decoration: underline; }

#page-title hr { margin: 10px 0 0; }


// Main
#main { margin: 0; }
#main > .first { padding-left: 0; padding-right: 0; width: 40%; }
#main > .last { padding-right: 0; padding-left: 0; width: 40%; }
#make-matches #main .two.columns { padding: 0; width: 20%; }


// Match Menu


#left-profile .loader { float: left; }
#right-profile .loader { float: right; }

.match-menu { margin: 0 0 10px !important; padding: 0 !important; }
.match-lock { display: inline-block; margin-top: 10px; padding: 6px 4px 0 25px; float: right; color: $txtColor; text-decoration: underline; font-weight: 700; background: $spriteURL 0 -234px no-repeat; }

.match-lock.locked { background-position: 0 -260px; }

#left-match-lock { margin-right: 16px; }

#right-match-sex { margin-left: 19px; }

// Profile Pic
.profiles { list-style: none; margin: 0 0 15px; }
.profiles li { width: 368px; margin: 0; padding: 0; border: 1px solid #ccc;   background:$white;	

	@include box-shadow( rgba(0, 0, 0, 0.2) 0px 2px 5px);
	@include border-radius(8px);
}

.profiles li.loader {background:$white url(../images/loader.gif) no-repeat center center}
.profiles a { display: block; position: relative; padding: 10px; font-weight: 700; height:370px; width:370px; }
.profiles a.loaded { width:auto; height:auto;}
.profiles img { position: relative; display: block; width: 350px; height: 350px; margin: 0 auto; }
.profiles a > span { position: absolute; width: 346px; top: 10px; left: 10px; 	

	@include filter-gradient(#ffffff, #ffffff, vertical);
	$experimental-support-for-svg: true;
	@include background-image(
		linear-gradient(
			top,
			rgba(255,255,255,1) 3%,
			rgba(255,255,255,0) 90%
		)
	);
}
.profiles a > span h3 { display: inline-block; float: left; margin: 15px 0 25px; color: #222; white-space: pre; overflow: hidden; max-width: 86%; @include text-shadow(0px 2px 0px #fff); }
.profile-location { display: inline-block; float: left; margin: 15px 5px 0 5px; padding-left: 25px; color: #222; background: $spriteURL 0 -287px no-repeat; width: 24px; height: 24px; border-bottom: none; }

#add-to-fav { display: block;width: 17px;height: 16px;margin: 17px 12px;text-indent: -999em;background: url(../images/fav.png) 0 0 no-repeat; float: left; }
#add-to-fav:hover,
#add-to-fav.active { background-position: 0 -16px; }

// Profile Search
.profile-search { position: relative; }
.profile-search input[type=text] { padding: 6px 0 6px 30px; width: 80%; border: 2px solid #ddd; opacity: 0.7; position: relative; left: 10%; background-image: $spriteURL; background-position: 8px -800px; background-repeat: no-repeat; font-size: 14px; 

	@include box-shadow(
		rgba(0, 0, 0, 0.1) 0 0 4px,
		rgba(0, 0, 0, 0.2) 0 1px 5px inset
	);
	@include border-radius(20px);
	@include single-transition(all, 300ms);
	
	&:focus {
		width: 100%;
		outline: none;
		left: 0;
		border-color: rgba(183, 26, 119, 0.6);
	}
}
.profile-search input[type=submit] { visibility: hidden; height: 0; position: absolute; }
.search-results { display: none; height: auto; max-height: 200px; width: 86%; margin: 0; padding-top: 0; border: 1px solid #ddd; position: absolute; top: 101%; z-index: 3; list-style: none; @include text-shadow(0px 2px 0px #fff);

	@include border-radius(5px);
	@include box-shadow( rgba(204, 204, 204, 1) 0px 2px 2px);
	@include filter-gradient(#ffffff, #e5e5e5, vertical);
	$experimental-support-for-svg: true;
	@include background-image(linear-gradient(top, 
		rgba(255,255,255,1) 0%,
		rgba(229,229,229,1) 100%)
	);
}
.search-results li { border-bottom: 1px solid rgba(0, 0, 0, 0.1); border-top: 1px solid rgba(255, 255, 255, 0.9); position: relative; 

	&:first-child { border-top-width: 0;

		&:after{ bottom: 100%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba(255, 255, 255, 0); border-bottom-color: #ffffff; border-width: 7px; left: 50%; margin-left: -7px;
		}
	}
	&:last-child { border-bottom-width: 0; }
}
.search-results a { display: block; padding: 5px 8px; line-height: 0; height: 52px; }
.search-thumb { display: inline-block; width: 40px; height: 40px; float: left; margin-right: 10px; 
	
	@include border-radius(5px);
	@include box-shadow( rgba(0, 0, 0, 0.4) 0 1px 2px);
}
.search-results strong { position: relative; line-height: 1em; display: inline-block; max-width: 70%; margin-top: 8px; white-space: pre-wrap; }
input[type=text]:focus + .search-results { display: block; }


// Randomize
#randomize { background-color: #dfdfdf; width: 72px; height: 72px; margin: 150px auto 40px; 
	
	@include border-radius(36px);
	@include box-shadow( 
		rgba(88, 88, 88, 0.4) 0 1px 1px inset,
		rgba(88, 88, 88, 0.2) 0px 2px 5px inset,
		rgba(88, 88, 88, 0.2) 0px 4px 8px inset,
		rgba(255, 255, 255, 0.9) 0px 2px 1px
	);
}

#hole { width: 51px; height: 51px; margin: 0 auto; top: 7px; position: relative; }

#random-button { display: block; width: 50px; height: 50px; margin: 0 auto; position: relative; top: -1px; background-color: rgb(101,211,225); 

	@include border-radius(25px);
	@include single-transition(all, 100ms);
	@include filter-gradient(#65d3e1, #2da1c8, horizontal);
	$experimental-support-for-svg: true;
	@include background-image(
		radial-gradient(
			center, 
			ellipse cover, 
			rgba(101,211,225,1) 0%,
			rgba(45,161,200,1) 100%
		)
	);
	@include box-shadow( 
		rgba(143, 219, 240, 1) 0px 1px 0px inset,
		rgba(84, 194, 224, 1) 0px 1px 0px,
		rgba(64, 150, 182, 1) 0px 3px 0px,
		rgba(64, 150, 182, 1) 0px 4px 0px,
		rgba(64, 150, 182, 1) 0px 5px 0px,
		rgba(64, 150, 182, 1) 0px 6px 0px,
		rgba(64, 150, 182, 1) 0px 7px 0px,
		rgba(64, 150, 182, 1) 0px 8px 0px,
		rgba(64, 150, 182, 1) 0px 9px 0px,
		rgba(0, 0, 0, 0.7) 0 10px 10px
	);

	&:active { top: 5px;
		
		@include box-shadow(rgba(28, 107, 121, 0.7) 0px 2px 1px);
	}

	&:hover #rotate { @include rotate(10deg); }

	&:active #rotate { opacity: 0.9;

		@include rotate(-360deg);
		@include transition(none);
	}
}
#random-button.disabled { background-color: rgb(101,211,225); top: 2px;
	
	@include background-image(
		radial-gradient(
			center, 
			ellipse cover, 
			rgba(215, 234, 236,1) 0%,
			rgba(152, 186, 197,1) 100%
		)
	);
	@include box-shadow( 
		rgba(231, 240, 243, 1) 0px 1px 0px inset,
		rgba(185, 205, 211, 1) 0px 1px 0px,
		rgba(157, 174, 180, 1) 0px 3px 0px,
		rgba(0, 0, 0, 0.4) 0 5px 1px
	);
}

#rotate { width: 29px; height: 35px; display: block; margin: auto; position: relative; top: 6px; z-index: 2; background: url(../images/rotate.png) center center no-repeat; 
	
	@include transition(all, 300ms);
}


// Rating	
#rating-buttons { width: 55%; margin: 0 auto; clear: both; }

.rating-button { width: 49.5%; float: left; border: 1px solid #ddd; 

	@include box-shadow( rgba(204, 204, 204, 1) 0px 2px 2px);
	@include filter-gradient(#ffffff, #e5e5e5, vertical);
	$experimental-support-for-svg: true;
	@include background-image(linear-gradient(top, 
		rgba(255,255,255,1) 0%,
		rgba(229,229,229,1) 100%)
	);
	
	&:first-child { border-radius: 5px 0 0 5px; // margin-right: 1px;

		&:focus,
		&:active { border-color: #a31b12;
			
			@include filter-gradient(#e5e5e5, #ffffff, vertical);
			$experimental-support-for-svg: true;
			@include background-image(linear-gradient(top, 
				rgba(198,61,52,1) 0%,
				rgba(163,25,16,1) 100%)
			);
		}
	}
	
	&:last-child { border-radius: 0 5px 5px 0;

		&:focus,
		&:active { border-color: #569334;
			
			@include filter-gradient(#e5e5e5, #ffffff, vertical);
			$experimental-support-for-svg: true;
			@include background-image(linear-gradient(top, 
				rgba(86,147,52,1) 0%,
				rgba(130,191,97,1) 100%)
			);
		}
	}
	
	&:hover {
		@include filter-gradient(#e5e5e5, #ffffff, vertical);
		$experimental-support-for-svg: true;
		@include background-image(linear-gradient(top, 
			rgba(229,229,229,1) 0%,
			rgba(255,255,255,1) 100%)
			
		);
	}
}
.rating-button a { display: block; padding: 15px; text-indent: -999em; background: $spriteURL 5px -573px no-repeat; 	
	
	&:hover { background-position: 5px -644px; }
	
	&:focus,
	&:active { background-position: 5px -716px; }
}

#rating-down { }

#rating-up { background-position: 5px -610px;
	
	&:hover { background-position: 5px -683px; }
	
	&:focus,
	&:active { background-position: 5px -755px; }
}


// Reasons
#reasons { display: none; }
#reasons p { font-size: 18px; color: $mainColor; text-align: center; margin: 0; }

#reason-container { background-color: #dfdfdf; padding: 12px; 
	
	@include box-shadow( rgba(255, 255, 255, 1) 0 1px 0 inset );
	@include border-radius(10px);
	@include box-shadow( 
		rgba(88, 88, 88, 0.4) 0 1px 1px inset,
		rgba(88, 88, 88, 0.2) 0px 2px 5px inset,
		rgba(88, 88, 88, 0.2) 0px 4px 8px inset,
		rgba(255, 255, 255, 0.9) 0px 2px 1px
	);
}
#reason-container form { margin-bottom: 0; }

// #radios { margin: 0 0 10px 0; }
// #radios label { font-weight: 700; margin-right: 5px; }
// #radios input[type=radio] { }

// #reason-container select { max-width: 95%; font-size: 12px; }
// #reason-container option { }

#radios > div { float: left; height: 28px; }
// #radios input[type=radio] { float: left; }
#radios label { line-height: 16px; font-weight: 700; }


#radios.custom span.custom.radio.checked::before {
	background-color: transparent;

	@include filter-gradient(#65d3e1, #2da1c8, horizontal);
	$experimental-support-for-svg: true;
	@include background-image(
		radial-gradient(
			center, 
			ellipse cover, 
			rgba(101,211,225,1) 0%,
			rgba(45,161,200,1) 100%
		)
	);
}

#reason-select.custom.dropdown.open ul { padding: 1px; }

#reason-select.custom.dropdown,
#reason-select.custom.dropdown li, 
#reason-select.custom.dropdown a.current { height: 26px; line-height: 25px; }

#reason-select.custom.dropdown a.current,
#reason-select li { font-size: .8em; max-width: 93%; }

#reason-select.custom.dropdown a.selector { height: 26px; }

#reason-list { list-style: none; margin: 10px 0 0; }
#reason-list li { font-size: 14px; line-height: 1.3em; margin: 5px 0; }
#reason-list .close { display: inline-block; width: 16px; height: 16px; text-indent: -999em; background: $spriteURL -8px -856px no-repeat; }
#reason-list li:hover .close { background-position: -8px -911px; }

#done-button { font-size: 90%; padding: 8px 12px; cursor: pointer; }

#rating-success { display: none; width: 65%; margin: 0 auto; padding: 10px; background: #cfdbc8; border: 1px solid #a2c091; color: #539031; font-weight: 700; text-align: center; 	
	@include border-radius(3px);
}

#rating-success a { color: #539031; font-weight: 700; }


// Meet People
#fav-filter { }

#user-profile { padding-left: 60px;  }
#user-profile > div {  }
#user-profile h5 { color: $txtColor; font-weight: 700; margin-bottom: 0; padding: 5px 0; }

#main #carousel { width: 66.66667%; }

#profile-stats { clear: both; }
#profile-stats ul {  padding-top: 30px; background: url(../images/stats-bg.jpg) center top no-repeat; text-align: center; }
#profile-stats li { float: left; background: url(../images/stats-sep-bg.png) right center no-repeat; font-size: .8em; font-weight: 700; }
#profile-stats li:last-child { background: none; }
#profile-stats i { display: block; width: 20px; height: 20px; margin: 0 auto; clear: both; background: url(../images/stats-icon-sprite.png) no-repeat; }

#profile-stats i.male { background-position: -31px 0; }
#profile-stats i.single { background-position: -136px 0; }
#profile-stats i.edu { background-position: -270px 0; }
#profile-stats i.birthday { background-position: -390px 0; }
#profile-stats i.location { background-position: -513px 0; }
#profile-stats i.company {background-position: -654px 0;  }

#profile-sex { background-position: -5px 2px; }
#profile-status { background-position: -5px -22px; }
#profile-dob { background-position: -6px -50px; }
#profile-location { background-position: -5px -284px; }

#ask-about { height: 150px; }
#ask-about ul { height: 150px; width: 213px; list-style: none; margin: 0; overflow: hidden; }
#ask-about li { margin: 2px 8px 2px 2px; float: left; }
#ask-about a { display: inline-block; padding: 3px; }
#ask-about .profile-thumb { width: 55px; height: 55px;}
#ask-prev,
#ask-next {  }
/*
#get-introduced li { display: block;clear: both; overflow: hidden; margin: 5px 0; }
#get-introduced a { display: inline-block; position: relative; padding: 3px; @include border-radius(50%); font-weight: 700; line-height: 2.4em; }
#get-introduced img { width: 35px; float: left; margin: 0 10px 0 0; border: 2px solid #fff; @include border-radius(50%); background: $white; 
	
	@include border-radius(50%);
	@include box-shadow( rgba(0, 0, 0, 0.3) 0 1px 5px); 
}
*/
#introduce a,
#view-fb a { padding-top: 11px; padding-bottom: 5px; padding-left: 10px; width: 175px; text-align: left; }

#introduce i,
#view-fb i { display: inline-block; width: 20px; height: 18px; margin-right: 7px; float: left; background: $spriteURL -10px -1290px no-repeat; }
#view-fb i  { background-position: -10px -1326px; }
#add-fav { background-position: -5px -179px; }

#alt-actions li { margin-bottom: 10px; }

// Meet People
#fav-filter { float: right; }

#pager-buttons { width: 80px; float: right; }

.pager-button { width: 49%; float: left; border: 1px solid #ddd; 

	@include box-shadow( rgba(204, 204, 204, 1) 0px 2px 2px);
	@include filter-gradient(#ffffff, #e5e5e5, vertical);
	$experimental-support-for-svg: true;
	@include background-image(linear-gradient(top, 
		rgba(255,255,255,1) 0%,
		rgba(229,229,229,1) 100%)
	);
	
	&:first-child { border-radius: 5px 0 0 5px; 

		&:focus,
		&:active { border-color: #ccc;
			
			@include filter-gradient(#e5e5e5, #ffffff, vertical);
			$experimental-support-for-svg: true;
			@include background-image(linear-gradient(top, 
				rgba(229,229,229,1) 0%,
				rgba(255,255,255,1) 100%)
			);
		}
	}
	
	&:last-child { border-radius: 0 5px 5px 0;

		&:focus,
		&:active { border-color: #ccc;
			
			@include filter-gradient(#e5e5e5, #ffffff, vertical);
			$experimental-support-for-svg: true;
			@include background-image(linear-gradient(top, 
				rgba(229,229,229,1) 0%,
				rgba(255,255,255,1) 100%)
			);
		}
	}
	
	&:hover {
		@include filter-gradient(#e5e5e5, #ffffff, vertical);
		$experimental-support-for-svg: true;
		@include background-image(linear-gradient(top, 
			rgba(229,229,229,1) 0%,
			rgba(255,255,255,1) 100%)
		);
	}
}

#page-prev,
#page-next { position: absolute; top: 40%; left: 60px; display: block; width: 60px; height: 60px; background: rgba(255, 255, 255, 0.8) $spriteURL 10px -1122px no-repeat; @include border-radius(50%); @include box-shadow( rgba(0, 0, 0, 0.2) 0 1px 10px); text-indent: -999em; z-index: 100; }
#page-next { left: auto; right: 50px; background-position: 10px -1197px; }

#meet-profiles { visibility:hidden; }

.meet-profile { background: #fff; cursor: pointer; position: relative; float: left; border: 10px solid #fff; text-align: left; text-transform: none; -webkit-backface-visibility: hidden; }
.meet-profile img {
	//opacity: 0.3;
	//width: 320px;
}

//.match-profile-details,
//.profile-location { color: rgba(51, 51, 51, 0); opacity: 0.3; 

//	@include text-shadow(0px 0px 0px #000);
//}

//.profile-name { color: rgba(51, 51, 51, 0); opacity: 0.3; }


// CTA
#meet-people-cta { background: url(../images/meet-people-cta-bg.jpg); }
#meet-people-cta.page-content { position: relative; margin-top: 0; margin-bottom: -10px; padding: 30px 0; @include border-radius(0 0 5px 5px); z-index: 2; }
#meet-people-cta p { font-size: 16px; }

#four-images img { position: relative; width: 90px; height: 90px; @include box-shadow( rgba(0, 0, 0, 0.2) 0 1px 3px); @include border-radius(5px); border: 3px solid #fff; float: left; margin-right: 15px; z-index: 2; }
#four-images img:nth-child(3) { margin-left: 55px; }
#four-images img:nth-child(3),
#four-images img:nth-child(4) { margin-top: -10px; z-index: 1; }


// Footer
#footer { position: relative; background: url(../images/footer-bg.jpg) repeat-x; padding-top: 30px; padding-bottom: 120px; border-top: 1px solid $white; z-index: 1; }
#footer * { text-shadow: 0px -1px 0px $black; filter: dropshadow(color=$black, offx=-1, offy=0); }
#footer h5 { margin: 28px 0 7px; clear: both; color: $white; font-size: 18px; }
#footer ul { list-style: none; margin: 0; padding: 0; }
#footer li { padding: 2px 0; }
#footer a { color: $white; font-size: 16px; }

#footer-logo { margin-top: 20px; }
#footer-logo p { margin: 0; color: $white; }
#footer-logo a { color: $white; font-size: 12px; }

#footer-social li { padding-left: 25px; background: $spriteURL no-repeat; }
#footer-social #social-fb { background-position: 0 -442px; }
#footer-social #social-tw { background-position: -6px -468px; }
#footer-social #social-pin { background-position: -2px -493px; }
#footer-social #social-rss { background-position: -6px -520px; }
#footer-social #social-email { background-position: -6px -546px; }
#footer-social #social-contactus { background-position: 0 -1842px; }

#legal a { font-size: 14px; }
#copyright { color: $white; margin-bottom: 0; }


// Modal
.reveal-modal { padding-bottom: 50px; 

	@include border-radius(10px);
}
.reveal-modal h4 {  text-align: center; margin-bottom: 20px; }
.reveal-modal a { font-size: 18px; color: $mainColor; text-align: center; margin: 0; display: block; }
.reveal-modal .columns:first-child,
.reveal-modal .columns:nth-child(2) { padding-left: 0; }
.reveal-modal .columns:last-child { position: relative; height: 190px; }
.reveal-modal .columns .both { width: 125px; height: 125px; position: absolute; top: 42px; left: 20px; 	
	
	&.right { left: auto; right: 20px; }
}
.close-reveal-modal { top: auto !important; bottom: 15px; right: 15px; text-shadow: none !important; }
.close-reveal-modal small { position: relative; top: -3px; }

.introduce-thumb { display: block; width: 165px; height: 165px; margin: 10px auto; clear: both; border: 5px solid $white; background-position: 50%; background-size: cover; 
	
	@include border-radius(50%);
	@include box-shadow( rgba(0, 0, 0, 0.4) 0 2px 8px);
}


// Plugins
.tipsy { font-size: 10px; position: absolute; padding: 5px; z-index: 100000; }
  .tipsy-inner { background-color: #000; color: #FFF; max-width: 200px; padding: 5px 8px 4px 8px; text-align: center; }

  /* Rounded corners */
  .tipsy-inner { border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
  
  /* Uncomment for shadow */
  /*.tipsy-inner { box-shadow: 0 0 5px #000000; -webkit-box-shadow: 0 0 5px #000000; -moz-box-shadow: 0 0 5px #000000; }*/
  
  .tipsy-arrow { position: absolute; width: 0; height: 0; line-height: 0; border: 5px dashed #000; }
  
  /* Rules to colour arrows */
  .tipsy-arrow-n { border-bottom-color: #000; }
  .tipsy-arrow-s { border-top-color: #000; }
  .tipsy-arrow-e { border-left-color: #000; }
  .tipsy-arrow-w { border-right-color: #000; }
  
	.tipsy-n .tipsy-arrow { top: 0px; left: 50%; margin-left: -5px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent; }
    .tipsy-nw .tipsy-arrow { top: 0; left: 10px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent;}
    .tipsy-ne .tipsy-arrow { top: 0; right: 10px; border-bottom-style: solid; border-top: none;  border-left-color: transparent; border-right-color: transparent;}
  .tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
    .tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
    .tipsy-se .tipsy-arrow { bottom: 0; right: 10px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }
  .tipsy-e .tipsy-arrow { right: 0; top: 50%; margin-top: -5px; border-left-style: solid; border-right: none; border-top-color: transparent; border-bottom-color: transparent; }
  .tipsy-w .tipsy-arrow { left: 0; top: 50%; margin-top: -5px; border-right-style: solid; border-left: none; border-top-color: transparent; border-bottom-color: transparent; }