{% extends "base.html" %}
{% block title %} About {% endblock %}
{% block content %}

<section id="page-title-static" class="row">
						<div id="main" class="eight columns">
							<h2>About Us</h2>
						</div>
						<hr />
</section>

<div class="row">
	<div class="twelve columns">
		<h3>The Story<h3>
			<p>Last year, we moved to Seattle from the east coast. Even though the summer was warmer than expected <a href="http://en.wikipedia.org/wiki/Seattle_Freeze" target="_blank">the social life was chillier.</a> Like many, we found "meet-people sites" lacking or just really <a href="http://www.maxim.com/funny/the-history-of-creepy-online-dating" target="_blank">creepy.</a> We knew the best way to meet cool people "offline" was through mutual friends. So we started Mutuality to digitize the heck out of this obvious truth.</p>

			<p>Stay engaged through our <a href="https://www.facebook.com/MyMutuality" target="_blank">facebook, </a> our <a href="https://twitter.com/mymutuality" target="_blank">tweets</a>, and our <a href="http://mymutuality.wordpress.com/" target="_blank">blog.</a> Please do email us your thoughts at <a href="mailto:info@mymutuality.com">info@mymutuality.com.</a></p>  
	</div>
</div>

<div class="team row">
	<div class="twelve columns">
		<h3>The Team</h3>
	</div>
	<div class="row">
		<div class="four columns">
			<img class="about-picture" src="http://www.gravatar.com/avatar/57d1334c45d9fcbb02ed462d3f3ea41b.png?s=400">
			<div class="bio">
				<h4>Jasjit Singh</h4>
				<br>
				<p>I just graduated from college, about four years late. I <em>love</em> <a href="https://www.facebook.com/photo.php?fbid=589645887790&set=a.589645792980.2076786.3900450&type=1&permPage=1" target="_blank">Trader Joe's chicken tikka masala.</a> Almost as much as I love Jeff when he demanded his bio stay in "Lorem Ipsum", on principle.</p>
			<div class="social-icons">
				<a href="mailto:jasjit.singh@mymutuality.com" >
					<img src="{{ MEDIA_URL }}/images/email.png"/>
				</a>	
				<a href="https://www.facebook.com/jasjitsingh85" target="_blank">
					<img src="{{ MEDIA_URL }}/images/facebook.png"/>
				</a>
				<a href="https://www.linkedin.com/in/jasjitsingh85" target="_blank">
					<img src="{{ MEDIA_URL }}/images/linkedin.png"/>
				</a>
			</div>
		</div>
	</div>
	<div class="four columns">
		<img class="about-picture" src="http://www.gravatar.com/avatar/bc9eb4d8483f7f713ce94155e8bde1ff.png?s=400">
		<div class="bio">
			<h4>Jeff Ames</h4>
			<br>
			<div>
				<p>I'm a big fan of Taco Bell. My favorite dish there is the cheesy gordita crunch, which I believe means cheesy chubby crunch in Spanish.</p>
			</div>
			<div class="social-icons">
				<a href="mailto:jeff.ames@mymutuality.com" >
					<img src="{{ MEDIA_URL }}/images/email.png"/>
				</a>	
				<a href="https://www.facebook.com/jeffrey.manson.ames" target="_blank" >
					<img src="{{ MEDIA_URL }}/images/facebook.png"/>
				</a>
				<a href="https://www.linkedin.com/pub/jeffrey-ames/54/87b/818" target="_blank">
					<img src="{{ MEDIA_URL }}/images/linkedin.png"/>
				</a>
			</div>
		</div>	
	</div>
	<div class="four columns">
			<img class="about-picture" src="https://en.gravatar.com/userimage/47990911/c7701fa6689c0a428a9c4b8955fcc877.png?size=400">
			<div class="bio">
				<h4>Kamran Munshi</h4>
				<br>
				<div>
					<p>I love technology. Reading techblogs is sort of a maniacal habit of mine. Also, I once stripped naked in a post office.  I was two.</p>
				</div>
			<div class="social-icons">
				<a href="mailto:kamran.munshi@mymutuality.com" >
					<img src="{{ MEDIA_URL }}/images/email.png"/>
				</a>	
				<a href="https://www.facebook.com/kamran.munshi" target="_blank">
					<img src="{{ MEDIA_URL }}/images/facebook.png"/>
				</a>
				<a href="https://www.linkedin.com/in/kamranmunshi" target="_blank">
					<img src="{{ MEDIA_URL }}/images/linkedin.png"/>
				</a>
			</div>
		</div>	
	</div>
	
</div>	
{% endblock %}