{% extends "base.html" %}
{% block title %} About {% endblock %}
{% block content %}

<section id="page-title-static" class="row">
						<div class="eight columns">
							<h2>About Us</h2>
						</div>
						<hr />
</section>

<div class="row">
	<div class="twelve columns">
		<!-- <h3>About Mutuality<h3> -->
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc erat dolor, tincidunt sit amet dapibus at, placerat eu ipsum. Donec quis nisl non lorem varius ullamcorper. Maecenas dapibus ligula bibendum felis interdum ultrices. Proin mauris nunc, placerat eu commodo vitae, mattis ac elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In dignissim vestibulum tellus.</p>
	</div>
</div>

<div class="team row">
<!-- 	<div class="twelve columns">
		<h3>Team</h3>
	</div> -->
	<div class="row">
		<div class="four columns">
			<img class="about-picture" src="http://www.gravatar.com/avatar/57d1334c45d9fcbb02ed462d3f3ea41b.png?s=400" width="200px">
			<h4>Jasjit Singh</h4>
			<br class="clear">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc erat dolor, tincidunt sit amet dapibus at, placerat eu ipsum. Donec quis nisl non lorem varius ullamcorper.</p>
			<div class="social-icons">
				<a href="mailto:jasjit.singh@mymutuality.com" >
					<img src="{{ MEDIA_URL }}/images/email.png"/>
				</a>	
				<a href="https://www.facebook.com/jasjitsingh85" target="_blank">
					<img src="{{ MEDIA_URL }}/images/facebook.png"/>
				</a>
				<a href="https://www.linkedin.com/in/jasjitsingh85" target="_blank">
					<img src="{{ MEDIA_URL }}/images/linkedin.png"/>
				</a>
			</div>
		</div>
		<div class="four columns">
			<img class="about-picture" src="http://www.gravatar.com/avatar/57d1334c45d9fcbb02ed462d3f3ea41b.png?s=200">
			<h4>Jeff Ames</h4>
			<br class="clear">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc erat dolor, tincidunt sit amet dapibus at, placerat eu ipsum. Donec quis nisl non lorem varius ullamcorper.</p>
			<div class="social-icons">
				<a href="mailto:jeff.ames@mymutuality.com" >
					<img src="{{ MEDIA_URL }}/images/email.png"/>
				</a>	
				<a href="https://www.facebook.com/jeffrey.manson.ames" target="_blank" >
					<img src="{{ MEDIA_URL }}/images/facebook.png"/>
				</a>
				<a href="https://www.linkedin.com/pub/jeffrey-ames/54/87b/818" target="_blank">
					<img src="{{ MEDIA_URL }}/images/linkedin.png"/>
				</a>
			</div>
		</div>
		<div class="four columns">
			<img class="about-picture" src="http://www.gravatar.com/avatar/57d1334c45d9fcbb02ed462d3f3ea41b.png?s=200">
			<h4>Kamran Munshi</h4>
			<br class="clear">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc erat dolor, tincidunt sit amet dapibus at, placerat eu ipsum. Donec quis nisl non lorem varius ullamcorper.</p>
			<div class="social-icons">
				<a href="mailto:kamran.munshi@mymutuality.com" >
					<img src="{{ MEDIA_URL }}/images/email.png"/>
				</a>	
				<a href="https://www.facebook.com/kamran.munshi" target="_blank">
					<img src="{{ MEDIA_URL }}/images/facebook.png"/>
				</a>
				<a href="https://www.linkedin.com/in/kamranmunshi" target="_blank">
					<img src="{{ MEDIA_URL }}/images/linkedin.png"/>
				</a>
			</div>
		</div>
	</div>
</div>	
{% endblock %}