{% extends "base.html" %}
{% load la_facebook_tags %}
{% block extrascript %} 
    <script>
        var disableSubmit = function(val, id){
            $(id + ' input[type=submit]').attr('disabled', val);
        };   
        
        $('.form-submit').click(function() {
            var form = $(this).parents("form:first");
            var formId = '#' + form.attr('id');
            var formAction = form.attr('action');
            var resultMessage = '#spinButtonResultMessage';

            disableSubmit(true, formId);

            $(resultMessage).html('Spinning...').fadeIn();        
            
            $(this).parents("form:first").ajaxSubmit({
                dataType: "json",
                "success": function(data) {
                    $("#rightslot").unbind('click');
                    $("#leftslot").unbind('click');
                    $(resultMessage).hide();
                    $(resultMessage).html(data['message']).fadeIn('slow');
                    $('#leftslot').attr('src', data['leftslot']['picture']['data']['largepicurl']);
                    $('#rightslot').attr('src', data['rightslot']['picture']['data']['largepicurl']);
                    $("#leftslot").click(function() {
                        alert(data['leftslot']['facebookprofile']);
                        window.open(data['leftslot']['facebookprofile']);
                        return false;
                    });
                    $("#rightslot").click(function() {
                        window.open(data['rightslot']['facebookprofile']);
                        return false;
                    });
                    disableSubmit(false, formId);
                    if(data['type'] == 'success'){
                        $(':input', formId).not(':button, :submit, :reset, :hidden').val('');
                    }  
                }
            });

            return false;
        });    
    </script>
    
{% endblock %}
{% block content %}
    {% if user %}
        {% if profile %}
        <h2>{{profile.name}}'s Dashboard Page</h2>
        {% else %}
            You're logged in as {{ user.username }}, but you don't seem to have a profile associated with this user.
        {% endif %}
    {% else %}
        You should never see this since you're not even logged in!
    {% endif %}
    <div id="left-content">
        <img src={{profile_pic}} alt="profile_pic" />
    </div>
    <div id="right-content">
        <div id="slotMachine">
            <div id="spinButtonResultMessage"></div>

            <img style = "cursor: pointer" id="leftslot" />
            <img style = "cursor: pointer" id="rightslot" />
                <form action="{% url spinSlotMachine %}" method="post" id="spinButtonForm">
                    {% csrf_token %}
                    <input type="checkbox" name="leftlocked" value="left-locked"/> Lock Left
                    <input type="checkbox" name="rightlocked" value="right-locked"/> Lock Right
                    <input type="submit" value="Spin both!" class="form-submit" />
                </form>
        <div>
    <div>
{% endblock %}
