
<title>Home - Mutuality</title>
<head>
 	<link rel="stylesheet" href="{{ MEDIA_URL }}/stylesheets/app.css">
	<script src="{{ MEDIA_URL }}/javascripts/foundation/jquery.js"></script>
  	<meta property="og:title" content="Mutuality" />
  	<meta property="og:description" content="Mutuality is a website that connects you with your friends-of-friends" />
  	<meta property="og:image" content="http://i.imgur.com/Hcy3Clo.jpg" />
</head>
<body id="homepage-body">
	<div class="homepage">
				<div class="row">	
					<div class="header twelve columns" style="padding:20px 0px 0px 0px">
						<!-- <img src="/images/homepageLogo.png"> -->
						<div class="header-icons">	
							<a href="https://www.facebook.com/MyMutuality" target="_blank"><img src="/images/facebook_dark.png" onmouseover="this.src='/images/facebook_active.png'" onmouseout="this.src='/images/facebook_dark.png'"></a>
							<a href="https://twitter.com/mymutuality" target="_blank"><img src="/images/twitter02_dark.png" onmouseover="this.src='/images/twitter02_active.png'" onmouseout="this.src='/images/twitter02_dark.png'"></a>
							<a href="http://mymutuality.wordpress.com/" target="_blank"><img src="/images/blog_dark.png" onmouseover="this.src='/images/blog_active.png'" onmouseout="this.src='/images/blog_dark.png'"></a>
					</div>	
				</div>
			</div>	

				<div class = "row">
					<div class="twelve columns">
						<img id="homepage-image" src="{{ MEDIA_URL }}/images/BlueLogo.png">
						<div class="homepage-headline">
							Activities you enjoy, through friends you trust
						</div>
						<div class="facebook-login">
							<a href="{% url la_facebook_login %}?next={{ next }}" id="facebookConnect"><img src="images/facebook-login.png"></a>
						</div>
						<div class="assurance">
							(We never post to Facebook)
						</div>	
					</div>	
				</div>

				<div class="row">
					<img id="homepage-example" src="{{ MEDIA_URL }}/images/homepage.png">
					<!-- <div class="facebook-box six columns">
						<div class="login-headline">
							Start Right Here
						</div>	
					</div> -->
				</div>	
		</div>		
</body>	
		<footer>
				<div class="homepage-footer">
						<a href="/about">About</a>
						<a href="/privacy">Privacy</a>
					<div class="copyright">	
						<span>&copy; 2013 Mutuality Inc. All rights reserved.</span>
					</div>	
				</div>	
		</footer>	

<!--         <section class="homepage" data-URL={{ URL }} class="row">
                <div class="eight columns" style="height: 250px;">
                        <h4>Mutuality is all about meeting someone through your existing network of friends.</h4>
                        <p> Note: This site is currently in pre-alpha.  Please keep the site's contents strictly confidential.  Enjoy!</p>
                </div>
                {% if user.is_authenticated %}
                {% if profile %}
                                <p>You're logged in. </p>  
                                Go <a href="/makematches/">make some matches</a> or <a href="/meetpeople/"> meet people</a>!</p>.
                {% endif %}
            {% else %}
            <div style="text-align:center;">
                    <a href="{% url la_facebook_login %}?next={{ next }}" OnClick="mixpanel.track('Facebook Connect');"><img src="{{ MEDIA_URL }}/images/facebookconnect.png"></a>
                    <br/>
                    <span>We never post to Facebook.</span>
                </div>
        </section>
                </div>
        </div>
</div>
</div>
{% endif %} -->
	    <!-- Mixpanel JS -->
<script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
  typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,
  e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
    var mixPanelInit;
    var parser = document.createElement('a');
    parser.href = $("#main").data("url")
    if (parser.hostname.indexOf("localhost") !== -1 || parser.hostname.indexOf("vast")!== -1) {
      mixPanelInit = "e37f977beea8b083ac0bc587910af6a6"
    } else {
      mixPanelInit = "2c016968167f5dc85b02e758553ab355"
    }
    mixpanel.init(mixPanelInit);
  	mixpanel.track("Homepage loaded");
  	mixpanel.track_links("#facebookConnect", "Facebook Connect"); 

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-39862044-1', 'mymutuality.com');
  ga('send', 'pageview');
    
</script>
