{% extends "base.html" %}
{% load la_facebook_tags %}
{% block title %} Make Matches  {% endblock %}
{% block content %}
    <section id="page-title" class="row">
        <div class="eight columns">
            <h2>Make Matches</h2>
        </div>

        <div class="four columns">
            <span id="invite-link">Having fun? <a href="#" onclick="" ><strong>Invite your friends!</strong></a></span>
        </div>

        <hr />
    </section>

    <section id="main" class="row">
        <div id="left-profile" class="five columns first">
            <form class="match-menu row custom">
                <select id="left-match-sex" class="match-sex" style="display:none;">
                    <option id="guys" value="Guys" selected="selected">Guys</option>
                    <option id="girls" value="Girls">Girls</option>
                </select>

                <div id="left-match-sex" class="match-sex custom dropdown">
                    <a  class="current">Guys</a>
                    <a  class="selector"></a>
                    <ul>
                        <li id="guys">Guys</li>
                        <li id="girls">Girls</li>
                    </ul>
                </div>

                <a  id="left-match-lock" class="match-lock">Unlocked</a>
            </form>

            <ul id="left-match-profiles" class="match-profiles profiles cf">
                <li class="loader">
                    <a >
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" />
									<span class="match-profile-details">
										<span id="left-profile-location" class="profile-location tooltip"></span>
										<h3 id="left-profile-name" class="profile-name"></h3>
									</span>
                    </a>
                </li>
            </ul>

            <div id="left-match-search" class="profile-search seven columns centered">
                <input type="text" class="search-box" rel="Search..." value="Search..."/>
                <input type="submit" />

                <ul class="search-results">
                    <li>
                        <a >
                            <img src="../images/brian.jpg" class="search-thumb" />
                            <strong>Mark Twain</strong>
                        </a>
                    </li>

                    <li>
                        <a >
                            <img src="../images/brian.jpg" class="search-thumb" />
                            <strong>Robert Frost Robert Frost</strong>
                        </a>
                    </li>

                    <li>
                        <a >
                            <img src="../images/brian.jpg" class="search-thumb" />
                            <strong>Ayn Rand</strong>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div id="utility-col" class="two columns">
            <div id="randomize">
                <div id="hole">
                    <a id="random-button" title="Spin">
                        <span id="rotate"></span>
                    </a>
                </div>
            </div>

            <div id="rating">
                <div id="rating-buttons" class="cf">
                    <div class="rating-button">
                        <a  id="rating-down">Down</a>
                    </div>

                    <div class="rating-button">
                        <a  id="rating-up" data-reveal-id="myModal">Up</a>
                    </div>
                </div>

                <div id="reasons">
                    <p class="title">Why?</p>

                    <div id="reason-container">
                        <form id="radios" class="custom cf">
                            <div class="six">
                                <input name="is" type="radio" id="he-is" value="as8f9743kcyt9y3kctckcog5tmyBSDg" CHECKED ><label style="width:80px;" id="left-radio-label" for="he-is"></label>
                            </div>

                            <div class="six">
                                <input name="is" type="radio" id="she-is" value="9sdfAvbWVRbt9jbgr9g35jb0qtjjb03b" ><label style="width:80px;" id="right-radio-label" for="she-is"></label>
                            </div>
                        </form>
                        <br />
                        <div class="row">
                            <form class="twelve columns custom">
                                <select id="reason-select" style="display:none;">
                                    <option selected="selected" value="">No reason.</option>
                                    <option value="Too far away.">Too far away.</option>
                                    <option value="Too crazy.">Too crazy.</option>
                                    <option value="Too smart.">Too smart.</option>
                                    <option value="Too sexy.">Too sexy.</option>
                                    <option value="In a relationship.">In a relationship.</option>
                                </select>

                                <div id="reason-select" class="custom dropdown">
                                    <a  class="current">No reason.</a>
                                    <a  class="selector"></a>
                                    <ul>
                                        <li>Too far away.</li>
                                        <li>Too crazy.</li>
                                        <li>Too smart.</li>
                                        <li>Too sexy.</li>
                                        <li>In a relationship.</li>
                                    </ul>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div>
                        <ul id="reason-list">
                            <!--<li class="alert-box secondary">
                                <a  class="close">&times;</a>
                                Too far away.
                            </li>
                            <li class="alert-box secondary">
                                <a  class="close">&times;</a>
                                Too crazy.
                            </li> -->
                        </ul>
                        <br />
                        <div class="seven columns centered">
                            <input id="done-button" type="submit" value="Done" class="button" />
                        </div>
                    </div>
                </div>

                <div id="rating-success" class="alert-box success">
                    Thanks!
                </div>
            </div>
        </div>

        <div id="right-profile" class="five columns last">
            <form class="match-menu row custom">
                <select id="right-match-sex" class="match-sex" style="display:none;">
                    <option id="guys" value="Guys">Guys</option>
                    <option id="girls" value="Girls" selected="selected">Girls</option>
                </select>

                <div id="right-match-sex" class="match-sex custom dropdown">
                    <a  class="current">Girls</a>
                    <a  class="selector"></a>
                    <ul>
                        <li id="guys">Guys</li>
                        <li id="girls">Girls</li>
                    </ul>
                </div>

                <a  id="right-match-lock" class="match-lock">Unlocked</a>
            </form>

            <ul id="right-match-profiles" class="match-profiles profiles cf">
                <li class="loader">
                    <a >
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" />
									<span class="match-profile-details">
										<span id="right-profile-location" class="profile-location tooltip"></span>
										<h3 id="right-profile-name" class="profile-name"></h3>
									</span>
                    </a>
                </li>
            </ul>

            <div id="right-match-search" class="profile-search seven columns centered">
                <input type="text" class="search-box" rel="Search..." value="Search..."/>
                <input type="submit" />

                <ul class="search-results">
                    <li>
                        <a >
                            <img src="../images/brian.jpg" class="search-thumb" />
                            <strong>Mark Twain</strong>
                        </a>
                    </li>

                    <li>
                        <a >
                            <img src="../images/brian.jpg" class="search-thumb" />
                            <strong>Robert Frost Robert Frost</strong>
                        </a>
                    </li>

                    <li>
                        <a >
                            <img src="../images/brian.jpg" class="search-thumb" />
                            <strong>Ayn Rand</strong>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
                    </div>
            </div>
        </div>
    </div>
    <div id="meet-people-wrapper" style="min-height: 50px;">
    <section id="meet-people-cta" class="page-content">
        <div class="row">
            <div class="eight columns">
                <h4>Meet People</h4>
                <p>Meet more people the old fashioned way - through a trusted friend!</p>
                <a href="/meetpeople/" class="button">Learn More</a>
            </div>
            <div id="four-images" class="four columns">
                <img src="{{ MEDIA_URL }}/images/brian.jpg" />
                <img src="{{ MEDIA_URL }}/images/betty.jpg" />
                <img src="{{ MEDIA_URL }}/images/brian.jpg" />
                <img src="{{ MEDIA_URL }}/images/betty.jpg" />
            </div>
        </div>
    </div>
    </section>
{% endblock %}
{% block extrahtml %}
    <div id="myModal" class="reveal-modal large">
        <h4>Awesome! Why don't you introduce them?</h4>
        <div class="row">
            <div id="nudge-left" class="four columns">
                <a  class="title">
                    Nudge <span class="match-name">Brian</span>
                    <span class="introduce-thumb" style="background-image: url();"></span>
                </a>
            </div>
            <div id="nudge-right" class="four columns">
                <a  class="title">
                    Nudge <span class="match-name">Betty</span>
                    <span class="introduce-thumb" style="background-image: url();"></span>
                </a>
            </div>
            <div id="nudge-both" class="four columns">
                <a  class="title">
                    Nudge Both
                    <span class="introduce-thumb both right" style="background-image: url();"></span>
                    <span class="introduce-thumb both" style="background-image: url();"></span>
                </a>
            </div>
        </div>

        <a class="close-reveal-modal"><small>No Thanks</small> &times;</a>
    </div>
{% endblock %}
{% block extrascript %}
    <script>
       /*
        * Would like to replace this with a custom view helper
        * that prints out a <script> tag to match the current
        * route if the JS file exists. Example:
        * 
        * <script src="javascripts/mutuality/make-matches.js"><//script>
        *
       */
       (function($){
           $.getScript('{{ MEDIA_URL }}/javascripts/make-matches.js').fail(function(xhr, settings, exception){
               console.log(exception);
           });
       })(jQuery);


       FB.init({
           appId  : '{{ FACEBOOK_APP_ID }}',
           frictionlessRequests: true
       });

       function sendRequestViaMultiFriendSelector() {
           var message = 'Mutuality is really fun! I just matched two people together that will make you laugh :)';
           FB.ui({method: 'apprequests',
               message: message
           }, requestCallback);
       }

       function requestCallback(response) {
           // Handle callback here
       }

       $("#invite-link a").attr('onclick', "sendRequestViaMultiFriendSelector(); return false;");

    </script>
{% endblock %}
