{% extends "base.html" %}
{% load la_facebook_tags %}
{% block title %} Meet People  {% endblock %}
{% block content %}
	
					<section id="page-title" class="row">
						<div class="eight columns">
							<h2>Meet People</h2>
						</div>
						<form id="four-filters" class="four columns custom">
							<!-- <span class="friend-count">3</span> -->
							<select id="fav-filter" style="display:none;">
								<option id="all" value="All" selected="selected">Friends</option><option id="dating" value="Dating">Dating</option>
								<option id="favorites" value="Favorites">Favorites</option><option id="viewed" value="Viewed">Viewed</option>
							</select>
							<div id="fav-filter" class="custom dropdown">
								<a href="#" class="current">Friends</a>
								<a href="#" class="selector"></a>
								<ul>
									<li id="all">Friends</li>
									<li id="dating">Dating</li>
									<li id="favorites">Favorites</li>
									<li id="viewed">Viewed</li>
								</ul>
							</div>
						</form>
						
						<hr />
					</section>
					<section id="main" data-URL={{ URL }} style="min-height: 400px;" class="row">
						<a href="#" id="triggerModal" data-reveal-id="myModal"></a>
						<div id="carousel" class="nine columns">

							<ul id="meet-profiles" class="meet-people-profiles">

							</ul>
							<a href="#" id="page-prev">Previous</a>
							<a href="#" id="page-next">Next</a>
						</div>

						<aside id="user-profile" class="three columns">
							<h6>Learn About <span class="profile-name"></span></h6>

							<ul id="alt-actions" class="menu">
								<li id="introduce" ><a href="#" class="button" data-reveal-id="myModal2"><i></i>Get Introduced</a></li>
								<!--<li id="view-fb"><a href="#" class="button"><i></i>Facebook Profile</a></li>-->
							</ul>
							
							<hr />
							
							<h6>Ask About <span class="profile-name"></span></h6>
							
							<div id="ask-about" class="">
								<ul>

								</ul>
							</div>
							<div class="twelve columns">
								<a href="#" id="ask-prev" class="four offset-by-one columns small button">&larr; Prev</a>
								<a href="#" id="ask-next" class="four offset-by-two columns small button">Next &rarr;</a>
							</div>
						</aside>

						<div id="profile-stats" class="row">
							<div class="eleven columns">
							<ul class="cf menu">
								<li id="profile-sex"><i class="male"></i>Sex</li>
								<li id="profile-status"><i class="single"></i>Status</li>
								<li id="profile-education"><i class="edu"></i>Education</li>
								<li id="profile-dob"><i class="birthday"></i>Age</li>
								<li id="profile-location"><i class="location"></i>Location</li>
								<li id="profile-job"><i class="company"></i>Job</li>
								<li id="profile-fb"><a href="#"><img src="{{ MEDIA_URL }}/images/view-fb.png" /></a></li>
							</ul>
						</div>
					</div>

					</section>
	
				</div>
			</div>
		</div>
	</div>
	<section id="meet-people-cta" class="page-content">
		<div class="row">
			<div class="eight columns">
				<h4>Make Matches</h4>
				<p>Have some fun - connect your friends or be a match maker!</p>
				<a href="/makematches/" class="button">Learn more</a>
			</div>
			<div id="four-images" class="four columns">
				<img src="{{ MEDIA_URL }}/images/brian.jpg" />
				<img src="{{ MEDIA_URL }}/images/betty.jpg" />
				<img src="{{ MEDIA_URL }}/images/john.jpg" />
				<img src="{{ MEDIA_URL }}/images/susan.jpg" />
			</div>
		</div>
	</section>
{% endblock %}
{% block extrahtml %}
    <div id="myModal" class="reveal-modal large">
        <h4>Analyzing your friend network...</h4>
        <div class="row">
            <div id="nudge-left" style:"text-align:center">
                <a href="#" class="title">
                    <span class="match-name">This may take a few seconds</span>
                    <span class="introduce-thumb" style="background-image: url({{ MEDIA_URL }}/images/loader.gif);"></span>
                    <span  id="inviteFriends" class="match-name" style="display:none;"><a href="#" onclick="sendRequestViaMultiFriendSelector(); return false;">(Click here to invite some friends and get more matches!)</a></span>
                </a>
            </div>
        </div>
        <a class="close-reveal-modal" style="display:none;"><small>OK</small> &times;</a>
    </div>
    <div id="myModal2" class="reveal-modal medium">
        <aside id="user-profile" style="three columns">
			<h4>Get Introduced to <span class="profile-name"></span></h4>
			<div style="width:220px;text-align:center;margin: 0 auto">
			<div id="ask-about" class="ask-about-modal" style="text-align:center;">
				<ul>

				</ul>
			</div>
			<div class="twelve columns" style="max-height:20px;">
				<a href="#" id="ask-prev-modal" class="four offset-by-one columns small button" style="width:50px;">&larr; Prev</a>
				<a href="#" id="ask-next-modal" class="four offset-by-two columns small button" style="max-height:25px;width:50px;">Next &rarr;</a>
			</div>
		</div>
		</aside>						
        <a class="close-reveal-modal" onclick="$('#page-next').show(); $('#page-prev').show();"><small>Nevermind</small> &times;</a>
    </div>
    <ol id="joyRideTipContent">
      <li class="seePeople" data-id="page-title" data-button="NEXT" data-options="tipLocation:top;nubPosition:seePeopleNub">
      	<h4>Make trusted connections</h4>
        <p>You have mutual friends with everyone you see</p>
      </li>
      <li class="filters" data-id="four-filters" data-button="NEXT" data-options="nubPosition:filtersNub">
      	<h4>Have it your way</h4>
      	<p>Filter your matches to make it even easier</p>
      </li>
      <li class="fav" data-id="carousel" data-button="NEXT" data-options="nubPosition:favNub">
      	<h4>See someone interesting?</h4>
      	<p>Click here to save them to your (private) favorites</p>
      </li>
      <li class="ask" data-id="ask-about" data-button="NEXT" data-options="nubPosition:askNub">
      	<h4>Or...</h4>
      	<p>Ask a close friend for more info</p>
      </li>
      <li class="intro" data-id="introduce" data-button="NEXT" data-options="nubPosition:introNub">
      	<h4>Or...</h4>
      	<p>Just ask them for an introduction</p>
      </li>
      <li data-button="CLOSE">
      	<h4>It's that easy</h4>
      	<p>Don't forget to show your friends!</p>
      </li>
    </ol>
{% endblock %}
{% block extrascript %}
    <script>
    	// Get page JS
		(function($){
		   $.getScript('{{ MEDIA_URL }}/javascripts/meet-people.js').fail(function(xhr, settings, exception){
		       console.log(exception);
		   });
		})(jQuery);

		// Init Facebook JS object
        FB.init({
           appId  : '{{ FACEBOOK_APP_ID }}',
           frictionlessRequests: true
        });

		function sendRequestViaMultiFriendSelector() {
			var message = 'To see more connections, invite your friends to join Mutuality.';
			FB.ui({method: 'apprequests',
			   message: message
			}, requestCallback);
		}
       	function requestCallback(response) {}

       // Attach the facebook friend invite to things on the page
       $("#inviteFriends a").attr('onclick', "sendRequestViaMultiFriendSelector(); return false;");

    </script>
{% endblock %}	
	