{% extends "base.html" %}
{% load la_facebook_tags %}
{% block title %} Messages  {% endblock %}
{% block content %}

					<section id="page-title-static" class="row">
						<div class="eight columns">
							<h2>Messages</h2>
						</div>
		
						<div class="four columns">
							<span id="invite-link">Want to see more? <a href="#"><strong>Invite your friends.</strong></a></span>
						</div>
						
						<hr />
					</section>
					
					<section id="main" data-URL={{ URL }} class="messages-content row">
						
						<div class="message-list three columns">
						  <ul>

						  </ul>
						</div>
						
						<div class="message-view six columns">
							<div class="message-load">
							</div>
						  <div class="message-thread">
						    
						    <!-- <div class="load-messages row"> 
						      <a href="#">Load previous messages</a>
						    </div>-->

						  </div>
						  <div class="message-reply">
						    <textarea placeholder="Write a message..." onfocus="this.placeholder = ''"></textarea>
						  </div>
						  <div class="row">
						    <input class="messages button" value="Send" />
						  </div>
						</div>
						
						<aside class="message-ask three columns">
							<h6 id="askAboutTitle"></h6>
							
							<div id="ask-about">
								<ul>
									
								</ul>
							</div>
							<div class="twelve columns">
								<a href="#" id="ask-prev" class="four offset-by-one columns small button">&larr; Prev</a>
								<a href="#" id="ask-next" class="four offset-by-two columns small button">Next &rarr;</a>
							</div>
                            <span id="profile-fb"><a href="#"><img src="{{ MEDIA_URL }}/images/view-fb.png" /></a></span>

						</aside>
					</section>
	
				</div>
			</div>
		</div>
	</div>

	<section id="meet-people-cta" class="page-content">
		<div class="row">
			<div class="eight columns">
				<h4>Meet More People</h4>
				<p>Connect with more trusted people by clicking below</p>
				<a href="/meetpeople/" class="button">Meet More People</a>
			</div>
			<div id="four-images" class="four columns">
				<img src="{{ MEDIA_URL }}/images/brian.jpg" />
				<img src="{{ MEDIA_URL }}/images/betty.jpg" />
				<img src="{{ MEDIA_URL }}/images/brian.jpg" />
				<img src="{{ MEDIA_URL }}/images/betty.jpg" />
			</div>
		</div>
	</section>
{% endblock %}
{% block extrascript %}
    <script>
       Mutuality.init('{{ profile.facebookID }}', '../');

       (function($){
           $.getScript('{{ MEDIA_URL }}/javascripts/messages.js').fail(function(xhr, settings, exception){
               console.log(exception);
           });
       })(jQuery);


       FB.init({
           appId  : '{{ FACEBOOK_APP_ID }}',
           frictionlessRequests: true
       });

       function sendRequestViaMultiFriendSelector() {
           var message = 'Invite your friends to see more connections.';
           FB.ui({method: 'apprequests',
               message: message
           }, requestCallback);
       }

       function requestCallback(response) {
           // Handle callback here
       }

       $("#invite-link a").attr('onclick', "sendRequestViaMultiFriendSelector(); return false;");

    </script>
{% endblock %}	
	