{% extends "base.html" %}
{% block title %} Privacy {% endblock %}
{% block content %}

<section id="page-title-static" class="row">
						<div id="main" data-URL={{ URL }} class="eight columns">
							<h2>Privacy Policy</h2>
						</div>
						<hr />
</section>

<h5>1. Introduction</h5>

<p>Mutuality provides this Privacy Policy to inform you of our policies regarding the collection, use, disclosure and protection of information.</p> 
<p>This Privacy Policy applies to all of Mutuality's professional networking websites, mobile features, applications, and other interactive features or services that link to it, including the Mutuality website (<a href="ttp://www.mymutuality.com">http://www.mymutuality.com</a>) (the "Mutuality Site") and the Mutuality applications and pages on Facebook (the "Mutuality App"). If you access Mutuality's Services through Facebook, you may be required to read and accept the Facebook terms of service and privacy policy.</p>

<p>Our policy concerning people under 18. The Mutuality Services are not intended for people younger than the age of 18. If we learn that we have inadvertently gathered personal information from people younger than the age of 18, we will take reasonable measures to delete such information from our records as soon as practical.</p>

<h5>2. Mutuality Basics</h5>

<p>Your Mutuality experience is based on your existing Facebook profile and comprised of your friends and their friends. We allow our members to communicate with each other.</p>

<p>By joining Mutuality, you are voluntarily deciding to become part of Mutuality's global community and to disclose or share certain information to your friends-of-friends that use Mutuality. Below we summarize what it means to be part of the Mutuality community and how your information will be displayed among the Mutuality Community. Note that your information and/or updates will not be shared on Facebook and/or publicly without your permission.</p>

<h6>Your Public Profile and Full Profile.</h6>

<p>Your Mutuality profile will be viewable to friends-of-friends in the Mutuality community. By default, your profile displays your name, your Facebook profile photo, and whatever information you choose to make available to friends-of-friends on Facebook. For more information on how to open or limit information you make available to your friends-of-friends, please visit your privacy settings on Facebook.</p>

<h6>Mutuality Privacy Settings:</h6>

<p>Your information on Mutuality is only available to friends-of-friends that also use Mutuality. We never disclose private information to your friends-of-friends on Mutuality. Information that is available for friends-of-friends to see includes current city, workplace, college, relationship status and mutual friends. You can control these settings through your Facebook account.</p>

<p>Your invitations to connect on Mutuality. When you ask us to invite a friend to join Mutuality, as you elect, we may send that person an invitation to join Mutuality on your behalf. The invitation may also contain information about other users your friend might know.
We never share your Mutuality activity on Facebook.</p>

<h5>3. Information We Receive</h5>

<p>By accessing Mutuality with your Facebook ID, you are authorizing Mutuality to collect, store, and use in accordance with this Privacy Policy any and all information that you agreed that Facebook could provide to Mutuality through the Facebook's Application Programming Interface ("API"). Your agreement takes place when you "accept" or "allow" (or similar term) the Mutuality App on Facebook.</p>

<p>When you use and install the Mutuality App on Facebook, you allow Mutuality to access certain information from your Facebook profile to establish your friends-of-friends network. The information you allow Mutuality to access is affected by the privacy settings you establish at Facebook. You can control and find out more about these settings at Facebook.</p>

<p>As allowed by you based upon your Facebook settings, Mutuality will access and store some or all of the following information from your current Facebook profile:</p>

<p>	•	your first and last name<br>
	•	your current city and state<br>
	•	your work history and education<br>
	•	your profile picture<br>
	•	your Facebook user ID number, which is linked to publicly available<br>
	•	information such as your name and profile photo<br>
	•	your gender<br>
	•	your relationship status<br>
	•	your age range as provided by Facebook (e.g., over 13, over 21)<br>
	•	your friends' and their friends' names and applicable user ID number, profile photos, work history and education.</p>

<p>In order to help you have the best experience on Mutuality, we will continue to update your network of friends and their friends. We will also update your profile information when you update your information on Facebook (e.g. when you move to a new city).</p>

<h6>Information We Collect From You Directly</h6>
When you use Mutuality, whether through the Mutuality Site or through the Mutuality App or otherwise, we may collect and store information from you directly as described below:</h6>

<p>Friend/Contact Information<br>
In order to help our users contact each other, Mutuality offers numerous communications methods, such as messages within the Mutuality Service.</p>

<p>Customer Support Correspondence<br>
When you ask for assistance from our Customer Support team, we may collect and store contact information you provide (generally your name and e-mail address), as well as information about your usage of Mutuality so that we can appropriately respond to inquiries. We will also store the correspondence and any related information.</p>

<p>Information we collect when you interact with Mutuality.<br>
When you access the Mutuality Services, we and our analytics providers and other third party service providers may collect "Usage Information," which is (i) certain technical information about your computer system and (ii) usage statistics about your interactions with Mutuality Services, such as the pages and content you view and actions you take on the Mutuality Website, like viewing profiles. The information collected also includes your IP address or other unique identifier for the computer or other device you use to access the Mutuality services. Some mobile service providers may also provide us or our third-party service providers with information regarding the physical location of the mobile device used to access the Mutuality Services. Usage Information is collected through the use of server log files and tracking technologies, including cookies, web beacons and embedded scripts. In some cases, we will associate this information with your user ID number for our internal use.</p>

<p>A cookie is a small text file that is stored on a user's computer for record keeping purposes. Cookies may be used for many purposes, such as remembering you and your preferences and tracking your visits to our web pages.</p>

<p>An embedded script is programming code that is designed to collect information about your interactions with the Sites, such as the links you click on. The code is temporarily downloaded onto your computer or other device from our server or a third party service provider and is deactivated or deleted when you disconnect from Mutuality services.</p>

<h5>4. How We Use Your Information</h5>

<p>Mutuality uses information it collects and receives about you to provide the Mutuality services, to contact you, and as disclosed at the time you provide your information. Specifically, here are some ways that we use the information we collect and receive, including personal information and Usage Information:</p>

<h6>User Registration.</h6>

<p>The information you provide to us is used to register your account and allows you to use the Mutuality Services and allow others to discover and communicate with you. Your profile is only shown to friends-of-friends that also use Mutuality.</p> 

<h6>Managing our Service.</h6>

<p>We use the information we collect to provide our services and features to you, to measure and improve those services and features, and to provide you with customer support. We may also use information we collect to serve you content that will be more meaningful to you. For example, if we may use your college to show you friends-of-friends that are in the same alumni network or went to similar types of colleges.</p>

<h6>Transfer in the Event of Sale or Change of Control.</h6>

<p>Mutuality reserves the right to disclose and transfer user information, including personal information, in connection with a corporate merger, consolidation, restructuring, the sale of certain stock and/or assets, or other corporate change including, without limitation, during the course of any due diligence process.</p>

<h6>Non-Personal Information.</h6>

<p>We may share non-personal information, such as aggregated user statistics with third parties for a variety of purposes. But we only do so in such a way that no individual user is identified or linked to any specific action or information.</p>

<h5>5. How to Access and Update Your Information.</h5>

<h6>Information We Receive From Facebook.</h6>

<p>To manage the information Mutuality receives about you from Facebook, you will need to follow the instructions in your "Account" and "Privacy Settings" on Facebook (or similar features as determined by Facebook) for updating your information and changing your privacy settings.</p>

<p>Once Mutuality receives your information from Facebook, that information is stored and used by Mutuality in accordance with this Privacy Policy.</p>

<h6>Closing Your Account.</h6>

<p>We would hate to see you go, but if you no longer want Mutuality to make active use of your information, you may send an e-mail to info@mymutuality.com. Place "Delete My Account" in the subject line and include your first name, last name, e-mail address in the body of the e-mail. We will respond to your request as soon as practical and within thirty (30) days. Please note that some information may not be able to be deleted from all databases and backup records and that certain records, for example those pertaining to payments or customer service matters, will be retained for legal and accounting purposes. Also, if you have posted content on or through Mutuality Services, we may not be able to delete it.</p>

<h5>6. Security of Your Information.</h5>

<p>Mutuality implements reasonable security measures to protect the security of your information both online and offline, and we are committed to the protection of customer information.</p>

<p>When you sign into your account or enter payment information (such as a credit card number when purchasing virtual currency), we encrypt the transmission of that information using secure socket layer technology ("SSL").</p>

<p>While we take reasonable precautions against possible security breaches of our websites and our customer databases and records, no website or Internet transmission is completely secure, and we cannot guarantee that unauthorized access, hacking, data loss, or other breaches will never occur. We urge you to take steps to keep your personal information safe (including your account password), and to log out of your account after use.</p>

<p>If your Facebook account is hacked, this may lead to unauthorized use of your Mutuality application, so be careful to keep your account information secure.</p>

<h5>7. Changes/Consent To Transfer/Contact Us
Changes.</h5>

<p>Mutuality may update this policy from time to time and any changes will be effective upon posting. We will notify you about significant changes in the way we treat personal information by sending a notice to the primary email address specified in your Mutuality account or by placing a prominent notice on our site. However, we will use your personal information in a manner consistent with the Privacy Policy in effect at the time you submitted the information, unless you consent to the new or revised policy.</p>

<h5>Consent to Transfer.</h5>

<p>The Mutuality Services are operated in the United States. If you are located outside of the United States, please be aware that information we collect will be transferred to and processed in the United States. By using the Mutuality Services, or providing us with any information, you fully understand and unambiguously consent to this transfer, processing and storage of your information in the United States, a jurisdiction in which the privacy laws may not be as comprehensive as those in the country where you reside and/or are a citizen.</p>

<h6>How to contact us</h6>

<p>If you have any questions about this Privacy Policy or our information-handling practices, or if you would like to request information about our disclosure of personal information to third parties for their direct marketing purposes, please contact us by e-mail at info@mymutuality.com.</p>

{% endblock %}