{% extends "base.html" %}
{% load la_facebook_tags %}

{% block content %}
    {% if user %}
        {% if profile %}
            <h2>{{profile.name}}'s Profile Page</h2>
            <img src={{profile_pic}} alt="profile_pic">
            Your name is {{ profile.name }}. You're all about {{ profile.bio }}
        {% else %}
            You're logged in as {{ user.username }}, but you don't seem to have a profile associated with this user.
        {% endif %}
    {% else %}
        You should never see this since you're not even logged in!
    {% endif %}
{% endblock %}
