{% extends "base.html" %}
{% block title %} Account {% endblock %}
{% block content %}
                    <section id="page-title" class="row">
                        <div class="eight columns">
                            <h2>Registration</h2>
                        </div>
                        <hr />
                    </section>
                    
                    <section id="main" data-URL={{ URL }} class="row">
                        <form id="registration" class="seven columns custom">
                            <div class="row">
                              <div class="two columns">
                                <label for="reg-firstname"><strong>Name</strong></label>
                              </div>
                              
                              <div class="ten columns">
                                <input id="reg-firstname" type="text" value="" disabled="disabled" />
                              </div>   
                            </div>

                            <div class="row">
                            </div>

                            <div class="row">
                              <div class="two columns">
                                <label for="reg-location"><strong>Location</strong></label>
                              </div>
                              
                              <div class="ten columns">
                                <input id="reg-location" type="text" />
                              </div>
                              <div id="location-ajax" style="display:none;"></div>
                              <div id="location-error" style="display:none;">You must select a location from the dropdown.</div>
                            </div>

                            <div class="row">
                              <div class="two columns">
                                <label for="reg-sex"><strong>Gender</strong></label>
                              </div>
                              
                              <div class="ten columns">
                                <select id="reg-sex" style="display:none;">
                                    <option id="reg-male" value="Male" selected="selected">Male</option>
                                    <option id="reg-female" value="Female">Female</option>
                                </select>
                                <div id="reg-sex" class="custom dropdown">
                                    <a href="#" class="current">Male</a>
                                    <a href="#" class="selector"></a>
                                    <ul>
                                        <li id="reg-male">Male</li>
                                        <li id="reg-female">Female</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                            <div class="row">
                              <div class="two columns">
                                <label for="reg-relationship"><strong>Status</strong></label>
                              </div>
                              <div class="ten columns">
                                <select id="reg-relationship" style="display:none;">
                                    <option id="reg-single" value="Single" selected="selected">Single</option>
                                    <option id="reg-notsingle" value="Relationship">In a Relationship</option>
                                </select>
                                <div id="reg-relationship" class="custom dropdown">
                                    <a href="#" class="current">Single</a>
                                    <a href="#" class="selector"></a>
                                    <ul>
                                        <li id="reg-single">Single</li>
                                        <li id="reg-notsingle">Not-single</li>
                                    </ul>
                                </div>
                              </div>
                            </div>
                            <div class="three columns"></div>
                            </div>
                        
                            <div class="row">
                              <div class="ten columns offset-by-two">
                                  <input id="register-button" type="button" href="#" class="medium button" value="Register" />
                              </div>
                            </div>
                            <br />
                        </form>
                    </section>

    
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extrahtml %}
<div id="myModal" class="reveal-modal large">
    <h4>Updating your information...</h4>
    <div class="row">
        <div id="nudge-left" style:"text-align:center">
            <a href="#" class="title">
                <span class="match-name">It'll just take a second</span>
                <span class="introduce-thumb" style="background-image: url({{ MEDIA_URL }}/images/loader.gif);"></span>
            </a>
        </div>
        
    </div>
	<a href="#" id="triggerModal" data-reveal-id="myModal"></a>
    <a class="close-reveal-modal" style="display:none;"><small>OK</small> &times;</a>
</div>
<div class="error message">
     <h3>Error!</h3>
     <p>There was a problem saving your profile.</p>
</div>
<div class="success message">
         <h3>Success!</h3>
         <p>We successfully saved your profile.</p>
</div>
<ul id="trigger-list">
     <li><a href="#" class="trigger error-trigger" style="display:none;">Error</a></li>
     <li><a href="#" class="trigger success-trigger" style="display:none;">Success</a></li>
</ul>  
{% endblock %}
{% block extrascript %}
    <script>
    	$("#triggerModal").trigger('click');
        Mutuality.init('{{ profile.facebookID }}', '../');

        Mutuality.updateFriendList(0, function(){
            $(".close-reveal-modal").trigger('click');
            console.log("CLOSE MODAL");
        });

        $.getScript('{{ MEDIA_URL }}/javascripts/account.js').fail(function(xhr, settings, exception){
           console.log(exception);
        });

        // Hide navbar links
        $(".right").hide();

        mixpanel.track_links("#register_button","Registration");
    
    </script>
{% endblock %}


