{% extends "base.html" %}
{% block title %} Account {% endblock %}
{% block content %}
<section id="page-title" class="row">
	<div class="eight columns">
		<h2>Registration Page Under Construction</h2>
	</div>
	<hr />
</section>
</div>
</div>
</div>
</div>
{% endblock %}
{% block extrahtml %}
    <div id="myModal" class="reveal-modal large">
        <h4>Updating your information...</h4>
        <div class="row">
            <div id="nudge-left" style:"text-align:center">
                <a href="#" class="title">
                    <span class="match-name">It'll just take a second</span>
                    <span class="introduce-thumb" style="background-image: url({{ MEDIA_URL }}/images/loader.gif);"></span>
                </a>
            </div>
            
        </div>
		<a href="#" id="triggerModal" data-reveal-id="myModal"></a>
        <a class="close-reveal-modal" style="display:none;"><small>OK</small> &times;</a>
    </div>
{% endblock %}
{% block extrascript %}
    <script>
    	$("#triggerModal").trigger('click');
        Mutuality.init('{{ profile.facebookID }}', '../');

         Mutuality.updateFriendListCalled(function(response){
        	if (!response){
	        	Mutuality.updateFriendList(25, function(){
        			$(".close-reveal-modal").trigger('click');
        			window.location = "/makematches/"
        		});
        	}
        });

    </script>
{% endblock %}


