{% extends "base.html" %}
{% block title %} Share {% endblock %}
{% block content %}
    <section id="page-title" class="row">
        <div class="eight columns">
            <h2>Help your Friends. Help Yourself.</h2>
        </div>
        <hr />
    </section>

<section id="main" data-URL={{ URL }} class="row">

<div class="row">
    <div class="nine columns">
        <span><h3>These friends have been favorited on Mutuality</h3></span> 
        <div class="twelve columns">
            <div class="twelve columns">
                <div id="progress-bar" class="twelve columns progress large-6 secondary round">
                <span class="meter" style="width:40%"></span>
                </div>
            </div>
            <span id="network-completion">You will see <span id="share-friend-total"></span> more matches making your <span id="location">Seattle</span> network <span id="network-percentage"></span>% complete</span>
        </div>  
    </div>
</div>
<div class="row">
    
    <div class="eight columns offset-by-one">  
        <form id="friend-list">
            <!-- <div class="row">
                <div class="two columns">
                    <span class="share-friend-number">+<span class="share-number" id="share-friend-number-one">30</span> Matches</span>
                </div>    
                <div class="three columns">
                    <div class="onoffswitch">
                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch0" checked>
                        <label class="onoffswitch-label" for="myonoffswitch0">
                            <div class="onoffswitch-inner"></div>
                            <div class="onoffswitch-switch"></div>
                        </label>  
                    </div>
                </div>
                <div class="seven columns">
                    <label class="share-name" for="onoffswitch">Jeff Ames</label>
                </div>
            </div> 

            <div class="row">
                <div class="two columns">
                    <span class="share-friend-number">+<span class="share-number" id="share-friend-number-two">30</span> Matches</span>
                </div> 
                <div class="three columns">
                    <div class="onoffswitch">
                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch1" checked>
                        <label class="onoffswitch-label" for="myonoffswitch1">
                            <div class="onoffswitch-inner"></div>
                            <div class="onoffswitch-switch"></div>
                        </label>  
                    </div>
                </div>
                <div class="seven columns">
                    <label class="share-name" for="onoffswitch">Jared Jones</label>
                </div>
            </div>
            <div class="row"> 
                <div class="two columns">
                    <span class="share-friend-number">+<span class="share-number" id="share-friend-number-three">30</span> Matches</span>
                </div> 
                <div class="three columns">
                    <div class="onoffswitch">
                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch2" checked>
                        <label class="onoffswitch-label" for="myonoffswitch2">
                            <div class="onoffswitch-inner"></div>
                            <div class="onoffswitch-switch"></div>
                        </label>  
                    </div>
                </div>
                <div class="seven columns">
                    <label class="share-name" for="onoffswitch">Shiv Kachru</label>
                </div>
            </div>    
            <div class="row">
                <div class="two columns">
                    <span class="share-friend-number">+<span class="share-number" id="share-friend-number-four">30</span> Matches</span>
                </div> 
                <div class="three columns">
                    <div class="onoffswitch">
                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch3" checked>
                        <label class="onoffswitch-label" for="myonoffswitch3">
                            <div class="onoffswitch-inner"></div>
                            <div class="onoffswitch-switch"></div>
                        </label>  
                    </div>
                </div>
                <div class="seven columns">
                    <label class="share-name" for="onoffswitch">Kamran Munshi</label>
                </div>
            </div>                    --> 
        </form>  
              <!--  <span><h5 id="invite-info">Invite them to see more matches</h5></span>  -->
      
    
        <div class="row">
            <div class="twelve columns">
                <input class="invite medium button" value="Next"/>
            </div>    
        </div>
     </div>    
</div> 

</section>    
{% endblock %}
{% block extrascript %}
    <script>
    	$("#triggerModal").trigger('click');
        Mutuality.init('{{ profile.facebookID }}','{{rest_token}}', '../');

        Mutuality.updateFriendList(0, function(){
            $(".close-reveal-modal").trigger('click');
            console.log("CLOSE MODAL");
        });

        $.getScript('{{ MEDIA_URL }}/javascripts/share.js').fail(function(xhr, settings, exception){
           console.log(exception);
        });

        // Hide navbar links
        $(".right").hide();

        mixpanel.track("Share loaded");
    
    </script>
{% endblock %}


